<p id="notice"><%= notice %></p>

<h1>Lineas</h1>

<table>
  <thead>
    <tr>
      <th>Id linea</th>
      <th>Numero cliente</th>
      <th>Cliente</th>
      <th>Segmento</th>
      <th>Fijomovil</th>
      <th>Contrato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineas.each do |linea| %>
      <tr>
        <td><%= linea.id_linea %></td>
        <td><%= linea.numero_cliente %></td>
        <td><%= linea.cliente %></td>
        <td><%= linea.segmento %></td>
        <td><%= linea.fijomovil %></td>
        <td><%= linea.contrato %></td>
        <td><%= link_to 'Show', linea %></td>
        <td><%= link_to 'Edit', edit_linea_path(linea) %></td>
        <td><%= link_to 'Destroy', linea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Linea', new_linea_path %>
