<p id="notice"><%= notice %></p>

<p>
  <strong>Id linea:</strong>
  <%= @linea.id_linea %>
</p>

<p>
  <strong>Numero cliente:</strong>
  <%= @linea.numero_cliente %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @linea.cliente %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @linea.segmento %>
</p>

<p>
  <strong>Fijomovil:</strong>
  <%= @linea.fijomovil %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @linea.contrato %>
</p>

<%= link_to 'Edit', edit_linea_path(@linea) %> |
<%= link_to 'Back', lineas_path %>
