<p id="notice"><%= notice %></p>

<p>
  <strong>Id fijomovil:</strong>
  <%= @fijomovil.id_fijomovil %>
</p>

<p>
  <strong>Tipo fijomovil:</strong>
  <%= @fijomovil.tipo_fijomovil %>
</p>

<%= link_to 'Edit', edit_fijomovil_path(@fijomovil) %> |
<%= link_to 'Back', fijomovils_path %>
