<%= render 'partials/menu' %>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<script type="text/javascript">
  $(function () {


    Highcharts.setOptions({
          lang:{
              months: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
              shortMonths: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
              weekdays: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
              shortWeekdays: ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb'],
              printChart: 'Imprimir gráfico',
              downloadPNG: 'Descargar PNG',
              downloadPDF: 'Descargar PDF',
              downloadJPEG:'Descargar JPEG',
              downloadSVG: 'Descargar SVG'
            }
        });

    Highcharts.chart('grafico', {
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Evolución Canal Online Mes Actual'
        },
        xAxis: [{
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Fecha'
            },
        }],
        yAxis: [{ // Primary yAxis
            endOnTick:false ,
            alignTicks:false,

            // plotBands: [{
            //         from: 60,
            //         to: 100,
            //         color: 'rgba(0, 250, 0, 0.1)'
            //     },
            //     {
            //         from: 60,
            //         to:-100,
            //         color: 'rgba(250, 0, 0, 0.1)'
            //     }

            //     ],

            plotLines: [{
                    value: 60,
                    color: 'green',
                    label: {
                        text: 'ISN mínimo',
                        align: 'right'//,
                        //x: 30
                    },
                    dashStyle: 'shortdash',
                    width: 1.5,
                },
                {
                    value: 0,
                    color: 'black',
                    //yAxis: 1,
                    //dashStyle: 'shortdash',
                    width: 2.5,
                }
                ],
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Valor en %',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        // }, { // Secondary yAxis
        //     title: {
        //         text: 'Respuestas',
        //         style: {
        //             color: Highcharts.getOptions().colors[0]
        //         }
        //     },
        //     labels: {
        //         format: '{value} %',
        //         style: {
        //             color: Highcharts.getOptions().colors[0]
        //         }
        //     },
        //     opposite: true
        }],

        tooltip: {
            shared: true

        },

        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    //colorByPoint: true
                }
            }
        },

        series: [{
            name: 'Resp 1+2',
            type: 'column',
            //yAxis: 1,
            color: '#FFC000',
            verticalAlign:'top',
            data: <%=@datos_grafico_acumulado_desktop%>[0]
            
        },
        {
            name: 'Resp 4+5',
            type: 'column',
            //yAxis: 1,
            color: '#073046',
            data: <%=@datos_grafico_acumulado_desktop%>[1]          
           
        },
        {
            name: 'ISN',
            type: 'spline',
            color: '#92D050',
            data: <%=@datos_grafico_acumulado_desktop%>[2],
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#92D050'//|| 'black'

                    //colorByPoint: true
                }
           
        },
        {
            name: 'Solución',
            type: 'spline',
            color: '#0095A7',
            data: <%=@datos_grafico_acumulado_desktop%>[3],
            dataLabels: {
                    enabled: true,
                    borderColor: 'black',
                    color: '#0095A7',//|| 'black'
                    verticalAlign: 'bottom'

                    //colorByPoint: true
                }
           
        }]
    }, 
        function(chart){
            //chart.series[0].hideDataLabels = false;
            //chart.series.data[0] = <%=@datos_grafico%>[3];
            // Add toggler action
            $('#btn_diario').click(function() {
                chart.series[0].setData(<%=@datos_grafico_diario_desktop%>[0],false);
                chart.series[1].setData(<%=@datos_grafico_diario_desktop%>[1],false);
                chart.series[2].setData(<%=@datos_grafico_diario_desktop%>[2],false);
                chart.series[3].setData(<%=@datos_grafico_diario_desktop%>[3],false);
                $('#grafico').highcharts().redraw();
            });

            $('#btn_acumulado').click(function() {
                chart.series[0].setData(<%=@datos_grafico_acumulado_desktop%>[0],false);
                chart.series[1].setData(<%=@datos_grafico_acumulado_desktop%>[1],false);
                chart.series[2].setData(<%=@datos_grafico_acumulado_desktop%>[2],false);
                chart.series[3].setData(<%=@datos_grafico_acumulado_desktop%>[3],false);
                $('#grafico').highcharts().redraw();
            });
        });
  });
</script>




                        <!-- start: FEATURED BOX LINKS -->
            <div class="container-fluid container-fullw bg-white">
              <div class="row">
                <div class="col-sm-6">
                  <div class="panel panel-white no-radius text-center">
                    <div class="panel-body">
                      <h1 class="StepTitle">Acumulado (%)</h1>
                        <div class="row">

                          <div class="col-sm-3">
                            <div class="panel panel-white no-radius text-center">
                              <div class="panel-body">
                                <h1 class="text-bold"><%= @isn_acumulado %></h1>
                                  ISN
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="panel panel-white no-radius text-center">
                              <div class="panel-body">
                                <h1 class="text-bold"><%= @resp_4_5_acumulado %></h1>
                                C. Satisfechos
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="panel panel-white no-radius text-center">
                              <div class="panel-body">
                                <h1 class="text-bold"><%= @resp_1_2_acumulado %></h1>
                                
                                C. Insatisfechos
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="panel panel-white no-radius text-center">
                              <div class="panel-body">
                                <h1 class="text-bold"><%= @resolu_acumulado %></h1>
                                Resolutividad
                              </div>
                            </div>
                          </div>

                        </div>
                    </div>

                              <div class="progress">
                                <div class= "<%= @color_barra_acumulado%>" role="progressbar" aria-valuenow="<%=@isn_acumulado%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@isn_acumulado%>%;">
                                  <%=@isn_acumulado%>%
                                </div>
                              </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="panel panel-white no-radius text-center">
                    <div class="panel-body">
                      <h1 class="StepTitle">Diario (%)</h1>
                        <div class="row">

                          <div class="col-sm-3">
                            <div class="panel panel-white no-radius text-center">
                              <div class="panel-body">
                                <h1 class="text-bold"><%= @isn_diario %></h1>
                                ISN
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="panel panel-white no-radius text-center">
                              <div class="panel-body">
                                <h1 class="text-bold"><%= @resp_4_5_diario %></h1>
                                  C. Satisfechos
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="panel panel-white no-radius text-center">
                              <div class="panel-body">
                                <h1 class="text-bold"><%= @resp_1_2_diario %></h1>
                                 C. Insatisfechos
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="panel panel-white no-radius text-center">
                              <div class="panel-body">
                                <h1 class="text-bold"><%= @resolu_diario %></h1>
                                Resolutividad
                              </div>
                            </div>
                          </div>
                          
                        </div>
                    </div>

                              <div class="progress">
                                <div class= "<%= @color_barra_diario%>" role="progressbar" aria-valuenow="<%=@isn_diario%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=@isn_diario%>%;">
                                  <%=@isn_diario%>%
                                </div>
                              </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- end: FEATURED BOX LINKS -->

<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-sm-12">
        <div class="panel panel-white no-radius text-center">
              <div class="panel-body">
              <button id="btn_acumulado" class ="btn btn-default">Ver acumulado</button>
              <button id="btn_diario" class ="btn btn-default">Ver diario</button>
          <div id="grafico" style="height: 400px; margin: auto; min-width: 310px; max-width: 800px"></div>
        </div>
      </div>
    </div>

  </div>
</div>
