<p id="notice"><%= notice %></p>

<p>
  <strong>Id segmento:</strong>
  <%= @segmento.id_segmento %>
</p>

<p>
  <strong>Tipo segmento:</strong>
  <%= @segmento.tipo_segmento %>
</p>

<%= link_to 'Edit', edit_segmento_path(@segmento) %> |
<%= link_to 'Back', segmentos_path %>
