<p id="notice"><%= notice %></p>

<p>
  <strong>Id contrato:</strong>
  <%= @contrato.id_contrato %>
</p>

<p>
  <strong>Tipo contrato:</strong>
  <%= @contrato.tipo_contrato %>
</p>

<%= link_to 'Edit', edit_contrato_path(@contrato) %> |
<%= link_to 'Back', contratos_path %>
