<p id="notice"><%= notice %></p>

<p>
  <strong>Id ind diario:</strong>
  <%= @indicadoresdiario.id_ind_diario %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @indicadoresdiario.segmento %>
</p>

<p>
  <strong>Isn:</strong>
  <%= @indicadoresdiario.isn %>
</p>

<p>
  <strong>Resp 1 2:</strong>
  <%= @indicadoresdiario.resp_1_2 %>
</p>

<p>
  <strong>Resp 4 5:</strong>
  <%= @indicadoresdiario.resp_4_5 %>
</p>

<p>
  <strong>Resolutividad:</strong>
  <%= @indicadoresdiario.resolutividad %>
</p>

<p>
  <strong>Version:</strong>
  <%= @indicadoresdiario.version %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @indicadoresdiario.fecha %>
</p>

<p>
  <strong>Volumen:</strong>
  <%= @indicadoresdiario.volumen %>
</p>

<%= link_to 'Edit', edit_indicadoresdiario_path(@indicadoresdiario) %> |
<%= link_to 'Back', indicadoresdiarios_path %>
