<%= form_for(indicadoresacumulado) do |f| %>
  <% if indicadoresacumulado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(indicadoresacumulado.errors.count, "error") %> prohibited this indicadoresacumulado from being saved:</h2>

      <ul>
      <% indicadoresacumulado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_ind_acumulado %>
    <%= f.number_field :id_ind_acumulado %>
  </div>

  <div class="field">
    <%= f.label :segmento %>
    <%= f.number_field :segmento %>
  </div>

  <div class="field">
    <%= f.label :isn %>
    <%= f.text_field :isn %>
  </div>

  <div class="field">
    <%= f.label :resp_1_2 %>
    <%= f.text_field :resp_1_2 %>
  </div>

  <div class="field">
    <%= f.label :resp_4_5 %>
    <%= f.text_field :resp_4_5 %>
  </div>

  <div class="field">
    <%= f.label :resolutividad %>
    <%= f.text_field :resolutividad %>
  </div>

  <div class="field">
    <%= f.label :version %>
    <%= f.number_field :version %>
  </div>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :fecha %>
  </div>

  <div class="field">
    <%= f.label :volumen %>
    <%= f.number_field :volumen %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
