<p id="notice"><%= notice %></p>

<p>
  <strong>Id ind acumulado:</strong>
  <%= @indicadoresacumulado.id_ind_acumulado %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @indicadoresacumulado.segmento %>
</p>

<p>
  <strong>Isn:</strong>
  <%= @indicadoresacumulado.isn %>
</p>

<p>
  <strong>Resp 1 2:</strong>
  <%= @indicadoresacumulado.resp_1_2 %>
</p>

<p>
  <strong>Resp 4 5:</strong>
  <%= @indicadoresacumulado.resp_4_5 %>
</p>

<p>
  <strong>Resolutividad:</strong>
  <%= @indicadoresacumulado.resolutividad %>
</p>

<p>
  <strong>Version:</strong>
  <%= @indicadoresacumulado.version %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @indicadoresacumulado.fecha %>
</p>

<p>
  <strong>Volumen:</strong>
  <%= @indicadoresacumulado.volumen %>
</p>

<%= link_to 'Edit', edit_indicadoresacumulado_path(@indicadoresacumulado) %> |
<%= link_to 'Back', indicadoresacumulados_path %>
