<p id="notice"><%= notice %></p>

<p>
  <strong>Id pago:</strong>
  <%= @pago.id_pago %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @pago.canal %>
</p>

<p>
  <strong>Orden compra:</strong>
  <%= @pago.orden_compra %>
</p>

<p>
  <strong>Fecha transaccion:</strong>
  <%= @pago.fecha_transaccion %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @pago.hora %>
</p>

<p>
  <strong>Cod retorno:</strong>
  <%= @pago.cod_retorno %>
</p>

<p>
  <strong>Cod autorizacion:</strong>
  <%= @pago.cod_autorizacion %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @pago.monto %>
</p>

<p>
  <strong>Fecha pago:</strong>
  <%= @pago.fecha_pago %>
</p>

<p>
  <strong>Fecha ident transaccion:</strong>
  <%= @pago.fecha_ident_transaccion %>
</p>

<p>
  <strong>Tel movil:</strong>
  <%= @pago.tel_movil %>
</p>

<p>
  <strong>Tel fijo:</strong>
  <%= @pago.tel_fijo %>
</p>

<p>
  <strong>Cod cliente:</strong>
  <%= @pago.cod_cliente %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @pago.documento %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @pago.linea %>
</p>

<%= link_to 'Edit', edit_pago_path(@pago) %> |
<%= link_to 'Back', pagos_path %>
