<p id="notice"><%= notice %></p>

<p>
  <strong>Id atr acum:</strong>
  <%= @atributosacumulado.id_atr_acum %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @atributosacumulado.segmento %>
</p>

<p>
  <strong>Pregunta:</strong>
  <%= @atributosacumulado.pregunta %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @atributosacumulado.valor %>
</p>

<p>
  <strong>Version:</strong>
  <%= @atributosacumulado.version %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @atributosacumulado.fecha %>
</p>

<%= link_to 'Edit', edit_atributosacumulado_path(@atributosacumulado) %> |
<%= link_to 'Back', atributosacumulados_path %>
