<p id="notice"><%= notice %></p>

<p>
  <strong>Id atr diario:</strong>
  <%= @atributosdiario.id_atr_diario %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @atributosdiario.segmento %>
</p>

<p>
  <strong>Pregunta:</strong>
  <%= @atributosdiario.pregunta %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @atributosdiario.valor %>
</p>

<p>
  <strong>Version:</strong>
  <%= @atributosdiario.version %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @atributosdiario.fecha %>
</p>

<%= link_to 'Edit', edit_atributosdiario_path(@atributosdiario) %> |
<%= link_to 'Back', atributosdiarios_path %>
